.card__wrapper {
  display: block;
}

.card {
  background-color: var(--brand-bg);
  border: 0.2em solid var(--brand-secondary);
  color: var(--brand-tertiary);
  display: flex;
  flex-direction: column;
  margin: 1em;
  text-decoration: none;
  height: 100%;
}

.card__header {
  line-height: 0;
  position: relative;
}

.card__image {
  height: auto;
  width: 100%;
}

.card__title {
  color: var(--brand-color);
  font-size: var(--font-size-big);
  font-weight: normal;
  margin: 0;
  padding: 1em 1em 1.5em;
  text-transform: uppercase;
}

@media screen and (min-width: 48em) {
  .card__wrapper {
    height: 100%;
    width: 100%;
  }

  .card__image {
    height: 20vw;
    object-fit: cover;
  }
}
