.runningTime {
    align-items: center;
    background-color: var(--brand-color);
    bottom: 0;
    display: flex;
    left: 0;
    line-height: 1em;
    padding: 0.7em 0.5em;
    position: absolute;
}

/**
 * Regarding the choice for the clock icon.
 * If the site would have included more icons,
 * I would have just included the font-awesome font
 * and used the classes provided.
 * However to avoid bloating the final bundle with
 * unnecessary icons, I extracted the clock svg and
 * used it on its own.
 **/
.runningTime__icon {
    --icon-size: var(--font-size-medium);

    background-image: url("./clock.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: var(--icon-size);
    display: inline-block;
    height: var(--icon-size);
    margin-right: 0.5em;
    overflow: hidden;
    text-indent: -100%;
    width: var(--icon-size);
}

.runningTime__text {
    font-size: var(--font-size-medium);
    text-transform: uppercase;
}
