.app__header {
  background-color: var(--brand-bg);
  border-bottom: 4px solid var(--brand-secondary);
  color: var(--brand-color);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-medium);
  padding: 1em;
  text-align: center;
}

.app__title {
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (min-width: 48em) {
  .app__main {
    display: grid;
    font-size: var(--font-size-small);
    grid-gap: 1.8em 0;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }
}

@media screen and (min-width: 85.375em) {
  .app__main {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    margin: 0 auto;
    max-width: 70vw;
  }
}

@media screen and (min-width: 160em) {
  .app__header {
    font-size: var(--font-size-big);
  }

  .app__main {
    font-size: var(--font-size-medium);
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }
}
