@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --brand-bg: #2b2f3b;
  --brand-color: #ffffff;
  --brand-secondary: #464b5e;
  --brand-tertiary: #1e212a;

  --font-size-small: 1em;
  --font-size-medium: 1.5em;
  --font-size-big: 2.2em;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.0rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
